<div class="container mt-lg-4">
  <div class="page-header">
    <div class="row">
      <figure class="text-center">
        <h1 class="mb-0 text-secondary mt-lg-4">
          kitty-text.
          <h5 class="text-muted mt-4"
            >read the alt-text prompt | write your best caption | vote for your
            fave captions!
          </h5>
        </h1>
        <p class="lead"></p>
      </figure>
    </div>
  </div>
</div>
