<nav>
  <ul>
    <% if (user){ %>

    <li><a href="/users/kittyhome">kittyhome</a></li>
    <li><a href="/users/kittytree">profile</a></li>
    <li><a href="/users/logout">logout</a></li>
    <% } else { %>
    <li><a href="/users/new">sign up</a></li>
    <li><a href="/users/login">login</a></li>
    <% } %>
  </ul>
</nav>
