<div class="mt-4 container">
  <div class="card border-secondary mb-3">
    <h3 class="card-header">Welcome to Kitty-Text!</h3>
    <div class="card-body">
      <h5 class="card-title">
        is it possible to make funny captions without the image???
      </h5>
    </div>
    <div
      class="container-fluid"
      style="width: 100%; height: 400px; background-color: black"
      onclick=""
    >
      <span class="text-bottom"></span>
      <h4 class="mt-4 text-center">
        Prompt: 3 orange cats, walking around shredded paper
      </h4>
    </div>
  </div>
  <div class="card-body"></div>
  <div class="card-footer text-muted">
    <p>scroll down to see image</p>
  </div>
</div>
<div class="mt-4 container">
  <div class="card border-secondary mb-3">
    <div class="card-body">
      <h5 class="card-title">LETS GO ADMIRE OUR HANDYWORK!</h5>
    </div>
    <div class="container" style="width: 100%; height: 450px">
      <img
        class="img-fluid img-thumbnail"
        style="max-width: 40rem"
        src="https://cdn2.thecatapi.com/images/bq8.jpg"
      />
    </div>
  </div>
  <div class="card-body">
    <a href="/captions/instructions"
      ><button class="btn btn-outline-primary">play captions</button></a
    >
    <a href="/users/kittytree"
      ><button class="btn btn-outline-secondary">visit kittytree</button></a
    >
  </div>
  <div class="card-footer text-muted">
    <p>you must be logged in to play!</p>
  </div>
</div>
