
<div class="mt-lg-4">
  </div>
  <div class="card border-primary mb-3">
    <h3 class="card-header">captions mode</h3>
    <div class="card-body">
      <h5 class="card-title">instructions</h5>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">You will be given alt-texts. What are alt texts, you ask? Alt-texts, or alternative texts, are short descriptions for images on websites that are primarily used by people who use screen readers. They usually have some type of visual impairment. If an image conveys an important message, without alt-texts, those who cannot view the image can still experience and know what the image is meant to convey.</li>
      <li class="list-group-item">You will be given an alt-text prompt, write the best caption you can from it.</li>
      <li class="list-group-item">After you submit, you'll see the image.</li>
      <li class="list-group-item">Vote on your favorite caption.</li>
    </ul>
    <div class="card-footer text-muted">
  <div class="mt-md-4">
    <a href="/captions/prompt"><button class="btn btn-lg btn-outline-secondary">play captions</button></a>                      
  </div>

