<div>
  <% let text %> 
  <% if(!notdone.length){ %> 
    <h3>WOW! YER DONE</h3>
      <h5>You've collected them all!! GO TRY DEV MODE<small class="text-muted">....oh i'm still working on it. MY BAD. </small></h5>
      <p><em>::working in progress::</em></p>
</div>
  <% }else{ %> 
<div>
  <form action="/captions/prompt/" method="POST">
    <fieldset>
      <legend>PROMPT: <%= text= picid.alttext  %> </legend>
      <div class="form-group">
        <label for="caption" class="form-label mt-4">write your caption here:</label>
        <input class="form-control" name="caption" id="caption" row="2"/>
        <input type="hidden" name="catpicid" id="catpicid" value="<%= firstImg %>" />
      </div>
      <button class="btn btn-primary" type="submit">submit caption</button>
    </fieldset>
  </form>
  <% } %> 
</div>  


