<h2>prompt</h2>
<div>
  <%= catpic.alttext %>
</div>

<div>
  <form action="/captions/prompt" method="POST">
    <label for="caption">write your caption here:</label>
    <input name="caption" id="caption" />
    <input type="hidden" name="catpicid" id="catpicid" value="<%= catpic.id %>" />
    <button type="submit">submit caption</button>
  </form>
</div>
