<div>
  <h2>image</h2>
  <img src="<%= catid.imgurl %> " />
</div>

<div>
  <form action="/captions/results" method="POST">
    <label for="captions">all captions</label>
    <% captions.forEach(caption => { %>
    <p><%= caption.text %></p>

    <input
      type="hidden"
      name="captionid"
      id="captionid"
      value="<%= caption.id %>"
    />
    <button type="submit">vote</button>
    <% }) %> 
  </form>
</div>
