<div>
  <h2>image</h2>
  <img src="<%= catid.imgurl %> " />
</div>

<div>
  <form action="/prompt/results" method="POST">
    <label for="captions">captions:</label>
    <% captions.forEach(caption => { %>
      <p><%= caption.text %></p>
    <% }) %>
  </form>
</div>