<div>
  <h2>image</h2>
  <img src="<%= catid.imgurl %> " />
</div>

<div>
  <label for="captions">all captions</label>
  <ul>
    <li>
      <% captions.forEach(caption => { %>
        <form action="/captions/results" method="POST">
        <p><%= caption.text %></p>
        <input
          type="hidden"
          name="captionuserid"
          id="captionuserid"
          value="<%= caption.userId  %>"
        />
        <!-- <button type="submit">vote</button> -->
        <button type="submit" name="votingbutton" id="votingbutton">
          vote
        </button>
      </form>
      <% }) %>
    </li>
  </ul>
</div>

