<div>
  <h2>image</h2>
  <img src="<%= catid.imgurl %> " />
</div>

<div>
  <form action="/captions/results" method="POST">
    <label for="captions">all captions</label>
    <ul>
      <% captions.forEach(caption => { %>
      <li>
        <p><%= caption.text %></p>
        <label for="captionid">vote</label>
        <input type="checkbox" name="captionid" id="captionid" onchange="toggle" value="<%= caption.id %>">
        <% }) %>
      </li>
    </ul>
    <button type="submit">vote</button>
  </form>
</div>
