<div>
  <h2>image</h2>
  <img src="<%= catid.imgurl %> " />
</div>

<div>
  <label for="captions">all captions</label>
  <ul>
    <li>
      <% for( let i = 0; i < captions.length; i++ ) { %>
        <form action="/captions/results" method="POST">
          <p><%= captions[i].text %></p>
          <input
            type="hidden"
            name="captionuserid[i]"
            id="captionuserid[i]"
            value="<%= captions[i]  %>"
          />
          <button type="submit" name="votingbutton[i]" id="votingbutton" value="<%= captions[i].userId %>">
            vote 
          </button>
        </form>
        <% } %> 
    </li>
  </ul>
</div>

