<div>
  <h2>image</h2>
  <img src="<%= catid.imgurl %> " />
</div>

<div>
  <label for="captions">all captions</label>
  <ul>
    <form action="/captions/results" method="POST">
      <% captions.forEach(caption => { %>
      <li>
        <p><%= caption.text %></p>
        <input
          type="hidden"
          name="caption"
          id="capt<%= caption.id  %>"
          value="<%= caption.id  %>"
        />
        <!-- <button type="submit">vote</button> -->
        <button type="submit" name="votingbutton" id="votingbutton">
          vote
        </button>
      </li>
      <% }) %>
    </form>
  </ul>
</div>
