
<!-- shows all cats, captions, alttexts -->
<h2>you're in edits!</h2>
<img src="<%= caption['catpic.imgurl'] %>" > 
<h5>prompt: <%= caption['catpic.alttext'] %> </h5>

<form action="/user/kittytree/<%=capid%>/?_method=PUT" method="PUT"> 


</form>