<h1>Welcome to the login page!</h1>
<h5>if you don't have a login, <a href="/users/new">sign up here :3</a></h5>

<% if (error) { %> 
  <em style="color:red"><%= error %> </em>
<% } %> 


<form action="/users/login" method="POST">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email">

  <label for="password">Password:</label>
  <input type="password" name="password" id="password">

  <button type="submit">log-in</button>
</form>